<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    <uses-feature android:name="android.hardware.usb.accessory" android:required="false"/>
    
    <!-- AAOS DISTRACTION OPTIMIZATION - PREVENT ALL BLOCKING -->
    <uses-permission android:name="android.car.permission.CAR_DRIVING_STATE" />
    <uses-permission android:name="android.car.permission.CAR_UX_RESTRICTIONS_CONFIGURATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <!-- Automotive feature declarations -->
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="false" />
    <uses-feature
        android:name="android.software.car.templates_host"
        android:required="false" />

    <application
        android:label="${applicationName}"
        android:name="android.app.Application"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
        
        <!-- APPLICATION-LEVEL DISTRACTION OPTIMIZATION DECLARATION -->
        <meta-data
            android:name="com.android.automotive.application.DISTRACTION_OPTIMIZED"
            android:value="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" 
            android:windowSoftInputMode="adjustResize">
            
            <!-- CRITICAL: MARK AS DISTRACTION OPTIMIZED - PREVENT AAOS BLOCKING -->
            <meta-data
                android:name="distractionOptimized"
                android:value="true" />
            
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.CAR_MODE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"/>
            
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
